#####
## exec
pcapParser
pcapParser2
pcapParser3
pcapParser4
pcapParser5
pcapParser6
subtask_tcp_timestamp/find_tcp_timestamp
*/*.class

#####
## output directories
*/output*
*/tmp*
*/delete
*/log
*/figure*
*/*.eps
*/*.output
*/*/figure*
*.eps
output
tethered_clients
tethered_clients_figures
tethered_clients_processed_data/
output_boot_time_freq


####
## duplicate
*/MyUtil.pm
*/Tethering.pm
