#####
## exec
*/pcapParser
*/pcapParser2
*/pcapParser3
*/pcapParser4
*/pcapParser5
*/pcapParser6
*/subtask_tcp_timestamp/find_tcp_timestamp
*/*/*.class

#####
## data
data
testbed/tcp_traces

#####
## output
processed_data
figures
*/figures_freq
*/output_freq
*/*output.txt
*/*.eps
*/output
*/tmp*
*/tethered_clients
*/tethered_clients_figures
*/tethered_clients_processed_data
testbed/exp2
testbed/exp3

*/*/output
*/*/tmp*
*/*/delete
*/*/log
*/*/figure*

*/*/*.eps
*/*/output
*/*/*/figure*

*/*/*/output

####
## duplicate
*/*/MyUtil.pm
*/*/Tethering.pm
